.lesson {
  /* border: 2px dashed green; */
  font-family: 'Avenir-Roman';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  padding: 0 2rem 4rem 300px;
  font-size: 1.1em;
  width: 100%;
  max-width: 98vw;
}

.lesson .hide {
  display: none;
}

.lesson :target:before {
  content: '';
  display: block;
  height: 85px;
}

.lesson .readingTime {
  font-family: 'Avenir-Book';
  font-size: 14px;
  line-height: 119.6%;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 160px;
  height: 41px;
  padding: 1.1rem;
  margin-bottom: -4rem;
  margin-top: 3rem;
}

.lesson img[alt~='HenryLogo'] {
  display: none;
}

.lesson h1 {
  display: inline-block;
  font-family: 'Avenir-Black';
  font-size: 48px;
  line-height: 66px;
  color: #2e2e2e;

  border-bottom-style: solid;
  border-bottom-width: 25px;
  border-bottom-color: #ffff01;

  height: 64px;
  margin: 10px 0 3rem 0;
}

.lesson h1 + h4 {
  margin: -40px 0 3rem 0;
  font-family: 'Avenir-Black';
  font-size: 32px;
  line-height: 32px;
}

.lesson h1 + h2 {
  margin-top: 0;
}

.lesson h2 {
  font-family: 'Avenir-Black';
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #2e2e2e;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.lesson h2#homework {
  display: inline-block;
  font-family: 'Avenir-Black';
  font-size: 48px;
  line-height: 66px;
  color: #1fa32a;
}

.lesson h3 {
  font-family: 'Avenir-Black';
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #2e2e2e;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.lesson h4 {
  font-family: 'Avenir-Black';
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #2e2e2e;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.lesson img {
  width: auto;
  max-width: 900px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.lesson img[alt~='logo'] {
  box-shadow: none;
  width: 350px;
}

.lesson img[alt~='no-box'] {
  box-shadow: none;
}

.lesson ul {
  list-style: square;
}

.lesson li {
  font-family: 'Avenir-Heavy';
  font-size: 16px;
  line-height: 22px;
}

.lesson a {
  font-family: 'Avenir-Black';
  font-size: 16px;
}

.lesson .iframeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* Then style the iframe to fit in the container div with full height and width */
.lesson iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
